input[type=text],input[type=password]{
    display: flex;
    border: 1px solid blue;
    border-radius: 10px;
    background: lightskyblue;
    width: 250px;
    height: 35px;
}

#username, #new-password {
    font-size: 20px;
    font-family: 'Arial';
}

input[type=submit] {
    display: flex;
    font-size: 18px;
    font-family: 'Arial';
    border: 1px solid blue;
    border-radius: 10px;
    background: blue;
    color: white;
    width: 250px;
    height: 35px;
}

div.request-reset-password {
    display: flex;
    align-items: center;
    font-family: 'Arial';
    margin-top: 44vh;
    margin-left: 40%;
    margin-right: 40%;
    border: 1px solid grey;
    border-radius: 26px;
    padding: 20px;
}

button#submit-request {
    display: flex;
    font-size: 18px;
    font-family: 'Arial';
    border: 1px solid blue;
    border-radius: 10px;
    background: blue;
    color: white;
}

table {
    width: 23em;
    padding:2em;
    border-radius: 1em;
    box-shadow: 0 10px 25px rgba(90,100,100,.2);
    text-align: center;
    margin: 38vh 40vw;
    border: 3px solid white;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button#return-home {
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    background: lightskyblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}