input[type=text],input[type=password]{
    display: flex;
    border: 1px solid blue;
    border-radius: 10px;
    background: lightskyblue;
    width: 250px;
    height: 35px;
}

#username, #new-password {
    font-size: 20px;
    font-family: 'Plus Jakarta Sans';
}

input[type=submit] {
    display: flex;
    font-size: 18px;
    font-family: 'Plus Jakarta Sans';
    border: 1px solid blue;
    border-radius: 10px;
    background: blue;
    color: white;
    width: 250px;
    height: 35px;
}

div {
    display: flex;
    align-items: center;
    margin-top: 44vh;
    margin-left: 40%;
    margin-right: 40%;
    border: 1px solid grey;
    border-radius: 26px;
    padding: 20px;
}

button {
    display: flex;
    font-size: 18px;
    font-family: 'Plus Jakarta Sans';
    border: 1px solid blue;
    border-radius: 10px;
    background: blue;
    color: white;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-left: 20%;
    margin-right: 20%;
}